{% extends "base.html" %}
{% block title %}Nueva categoría - FacturIA{% endblock %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/finance/category_form.css' %}">
{% endblock %}
{% block content %}
    <a href="{% url 'finance:categories' %}" class="btn btn-secondary btn-sm"><i class="fa-solid fa-arrow-left"></i> Volver</a>
    <div class="category-header">
        {% if object %}
            <i class="{{ object.icon }} category-icon" style="color: {{ object.color }}"></i>
            <h3 class="category-name">{{ object.name }}</h3>
        {% endif %}
    </div>
    <h1 class="form-title"><i class="fa-solid fa-list"></i> 
        {% if object %}Editar categoría{% else %}Nueva categoría{% endif %}
    </h1>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </p>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar</button>
                {% if object %}
                <a href="{% url 'finance:delete_category' object.pk %}" class="btn btn-secondary">Borrar</a>
                {% endif %}
                <a href="{% url 'finance:categories' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
    <div>
        <a href="{% url 'finance:new_movement' %}?category={{ object.pk }}" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i> Crear movimiento 
            {% if object %}de {{ object.name }}{% endif %}
        </a>
    </div>
{% endblock %}