{% extends "base.html" %}
{% block title %}Categorias - FacturIA{% endblock %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/finance/category_list.css' %}">
{% endblock %}
{% block content %}
<a href="{% url 'finance:movements' %}" class="btn btn-primary btn-back"><i class="fa-solid fa-arrow-left"></i> Volver</a>
<div class="page-header">
    <h1 class="page-title"><i class="fa-solid fa-list"></i> Tus categorías</h1>
    <a href="{% url 'finance:new_category' %}" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i> Nueva categoría
    </a>
</div>

<h2 class="section-title">Gastos</h2>
<div class="category-grid">
    {% for category in expense_categories %}
        <a href="{% url 'finance:edit_category' category.pk %}" 
        class="category-card income"
        style="--color:{{ category.color }}"
        >
            <div class="category-card-body">
                <i class="{{ category.icon }} category-icon" style="color: {{ category.color }}"></i>
                <div>
                    <h3 class="category-name">{{ category.name }}</h3>
                    <span class="category-movements">
                        {{ category.movements.count }} 
                        {{ category.movements.count|pluralize:"movimiento,movimientos" }}
                    </span>
                </div>
            </div>
        </a>
    {% empty %}
        <p class="empty-state">No tienes categorías de gasto todavía.</p>
    {% endfor %}
</div>

<h2 class="section-title">Ingresos</h2>
<div class="category-grid">
    {% for category in income_categories %}
        <a href="{% url 'finance:edit_category' category.pk %}" 
        class="category-card income"
        style="--color:{{ category.color }}"
        >
            <div class="category-card-body">
                <i class="{{ category.icon }} category-icon" style="color: {{ category.color }}"></i>
                <div>
                    <h3 class="category-name">{{ category.name }}</h3>
                    <span class="category-movements">
                        {{ category.movements.count }} 
                        {{ category.movements.count|pluralize:"movimiento,movimientos" }}
                    </span>
                </div>
            </div>
        </a>
    {% empty %}
        <p class="empty-state">No tienes categorías de ingreso todavía.</p>
    {% endfor %}
</div>

<h2 class="section-title">Inversión</h2>
<div class="category-grid">
    {% for category in investment_categories %}
        <a href="{% url 'finance:edit_category' category.pk %}" 
        class="category-card income"
        style="--color:{{ category.color }}"
        >
            <div class="category-card-body">
                <i class="{{ category.icon }} category-icon" style="color: {{ category.color }}"></i>
                <div>
                    <h3 class="category-name">{{ category.name }}</h3>
                    <span class="category-movements">
                        {{ category.movements.count }} 
                        {{ category.movements.count|pluralize:"movimiento,movimientos" }}
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<h2 class="section-title">Pŕestamos</h2>
<div class="category-grid">
    {% for category in loan_categories %}
        <a href="{% url 'finance:edit_category' category.pk %}" 
        class="category-card income"
        style="--color:{{ category.color }}"
        >
            <div class="category-card-body">
                <i class="{{ category.icon }} category-icon" style="color: {{ category.color }}"></i>
                <div>
                    <h3 class="category-name">{{ category.name }}</h3>
                    <span class="category-movements">
                        {{ category.movements.count }} 
                        {{ category.movements.count|pluralize:"movimiento,movimientos" }}
                    </span>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}