{% extends "base.html" %}
{% block title %}Nueva categoría - FacturIA{% endblock %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/finance/category_form.css' %}">
{% endblock %}
{% block content %}
    <h1 class="page-title"><i class="fa-solid fa-list"></i> Nueva categoría</h1>
    <a href="{% url 'finance:movements' %}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Volver</a>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </p>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'finance:categories' %}" class="btn btn-secondary">Cancelar</a>
                {% if object %}
                    <a href="{% url 'finance:delete_category' object.pk %}" class="btn btn-secondary">Borrar</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}