{% extends "base.html" %}
{% block title %}Crear movimiento - FacturIA{% endblock %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/finance/movement_form.css' %}">
{% endblock %}
{% block content %}
    <a href="{% url 'finance:movements' %}" class="btn btn-secondary btn-back"><i class="fa-solid fa-arrow-left"></i> Volver</a>
    <h1 class="page-title">
        <i class="fa-solid fa-coins"></i> 
        {% if object %}Editar movimiento{% else %}Nuevo movimiento
        {% endif %}
    </h1>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name == "receipt" %}
                {% if form.instance.receipt %}
                <details id="receipt-preview">
                    <summary>
                        <span class="receipt-preview-text"><i class="fa-solid fa-chevron-down"></i> Ver recibo</span>
                    </summary>
                    <div class="receipt-preview-container {% if form.instance.receipt %}show{% endif %}">
                        <span class="receipt-name">{{ form.instance.receipt_name }}</span>
                        <img src="{{ form.instance.receipt.url }}" alt="Receipt" class="receipt-preview-img">
                    </div>
                </details>
                {% endif %}
            {% endif %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Guardar</button>
            {% if object %}
            <a href="{% url 'finance:delete_movement' object.pk %}" class="btn btn-secondary btn-danger">Borrar</a>
            {% endif %}
            <a href="{% url 'finance:movements' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const receiptDetails = document.getElementById("receipt-preview");

        receiptDetails.addEventListener("toggle", function () {
            const receiptPreviewText = document.querySelector(".receipt-preview-text");

            if (receiptDetails.open) {
                receiptPreviewText.innerHTML = "<i class='fa-solid fa-chevron-up'></i> Ocultar recibo";
                receiptDetails.classList.toggle("open");
            } else {
                receiptPreviewText.innerHTML = "<i class='fa-solid fa-chevron-down'></i> Ver recibo";
                receiptDetails.classList.toggle("open");
            }
        });
    });
</script>
{% endblock %}