# Django stuff:
*.sqlite3
*.pyc
__pycache__
local_settings.py
db.sqlite3
media
static/CACHE
static/dist
static/node_modules
venv
.env
.env.example
.env.local
.env.test
.env.travis
.env.development
env.staging
staticfiles
static_root

# Python stuff:
*.egg
*.egg-info
*.py[co]
*.pyc
*.pyo
__pycache__/all*
__pycache__/cache
dist
build
develop-eggs
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
.tox
.venv
.mypy_cache
.DS_Store
.local
.pytest_cache

# SQLite stuff:
*.db
*.db3
*.sqlite
*.sqlite3
