{% extends "base.html" %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block title %}Billing AI - Login{% endblock %}
{% block content %}
    <div class="form-container">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <fieldset>
                <legend>Iniciar sesión</legend>
                {% for field in form %}
                    <div class="form-row">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Entrar</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const usernameInput = document.getElementById('id_username');
    const passwordInput = document.getElementById('id_password');
    
    usernameInput.placeholder = "ej. John";
    passwordInput.placeholder = "ej. hardpass123";
</script>
{% endblock %}