{% extends "base.html" %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block title %}FacturIA - Login{% endblock %}
{% block content %}
    <div class="text-container">
        <h2>Gestión automática de facturas</h2>
        <p>Revisa, filtra y exporta tus documentos de forma rapida y sencilla.</p>
        <small>Procesos automatizados · Uso interno</small>    
    </div>
    <div class="form-container">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <fieldset>
                <legend>Iniciar sesión</legend>
                {% for field in form %}
                    <div class="form-row">
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Entrar</button>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const usernameInput = document.getElementById('id_username');
    const passwordInput = document.getElementById('id_password');
    const usernameLabel = document.querySelector('label[for="id_username"]');
    const passwordLabel = document.querySelector('label[for="id_password"]');

    usernameLabel.textContent = "Nombre de usuario";
    passwordLabel.textContent = "Contraseña";
    usernameInput.placeholder = "ej. John";
    passwordInput.placeholder = "ej. hardpass123";
</script>
{% endblock %}