{% extends "base.html" %}
{% block styles %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/documents/document_list.css' %}">
{% endblock%}
{% block title %}Documentos - FacturIA{% endblock %}

{% block content %}
<h1 class="page-title"><i class="fa-regular fa-file-lines"></i> Tus documentos</h1>
<div class="filters-container">
  <button id="filters-toggle">Ocultar filtros <i class="fa-solid fa-caret-up"></i></button>
  <form method="get" class="filters-bar">
    <div class="left-filters">
      <div class="search">
        <input
        type="text"
        name="q"
        placeholder="Buscar por nombre o empresa"
        value="{{ request.GET.q }}"
        >
        <label for="q"><button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button></label>
      </div>
      <select name="company">
        <option value="">Empresa</option>
        {% for company in companies %}
        <option value="{{ company.name }}" {% if request.GET.company == company.name %}selected{% endif %}>{{ company.name }}</option>
        {% endfor %}
      </select>
      <select name="document_type">
        <option value="">Tipo de documento</option>
        {% for key, value in document_types %}
        <option value="{{ key }}" {% if request.GET.document_type == key %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
      <select name="flow">
        <option value="">Flujo</option>
        <option value="in" {% if request.GET.flow == "in" %}selected{% endif %}>Venta (Ingreso)</option>
        <option value="out" {% if request.GET.flow == "out" %}selected{% endif %}>Compra (Gasto)</option>
      </select>
      <select name="doc_status">
        <option value="active" {% if request.GET.doc_status == "active" %}selected{% endif %}>Activos</option>
        <option value="archived" {% if request.GET.doc_status == "archived" %}selected{% endif %}>Archivados</option>
        <option value="all" {% if request.GET.doc_status == "all" %}selected{% endif %}>Todos</option>
      </select>
  </div>
  
  <div class="right-filters">
    <div class="date-filter">
      <label for="date_from">Desde</label>
      <input 
      type="date"
      name="date_from"
      value=
      "{{ request.GET.date_from }}"
      >
    </div>
    
    <div class="date-filter">
      <label for="date_to">Hasta</label>
      <input 
      type="date"
      name="date_to"
      value="{{ request.GET.date_to }}"
      >
    </div>
    <select name="status">
      <option value="">Estado</option>
      <option value="pending" {% if request.GET.status == "pending" %}selected{% endif %}>Pendientes</option>
      <option value="approved" {% if request.GET.status == "approved" %}selected{% endif %}>Aprobados</option>
      <option value="rejected" {% if request.GET.status == "rejected" %}selected{% endif %}>Rechazados</option>
    </select>
    
    <select name="review">
      <option value="">Revisión</option>
      <option value="auto" {% if request.GET.review == "auto" %}selected{% endif %}>Auto</option>
      <option value="manual" {% if request.GET.review == "manual" %}selected{% endif %}>Manual</option>
      <option value="recommended" {% if request.GET.review == "recommended" %}selected{% endif %}>Recomendada</option>
      <option value="required" {% if request.GET.review == "required" %}selected{% endif %}>Obligatoria</option>
    </select>
    
    <div class="buttons">
      <button type="submit" class="btn-primary">Filtrar <i class="fa-solid fa-filter"></i></button>
      {% if request.GET %}
      <a href="?" class="btn-clear">Limpiar</a>
      {% endif %}
    </div>
  </div>
</form>
</div>
<div class="export-bar">
  <div class="export-buttons">
    <a href="{% url 'documents:export' %}?{{ request.GET.urlencode }}" class="btn-primary">Exportar CSV <i class="fa-solid fa-download"></i></a>
    <a href="{% url 'documents:export_preview' %}?{{ request.GET.urlencode }}" class="btn-secondary">Vista previa <i class="fa-regular fa-eye"></i></a>
  </div>

    {% if is_paginated %}
      <div class="pagination-inline">
  
        {% if page_obj.has_previous %}
          <a href="?{{ querystring }}&page=1">&laquo;</a>
          <a href="?{{ querystring }}&page={{ page_obj.previous_page_number }}">‹</a>
        {% endif %}
  
        <span class="page-info">
          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>
  
        {% if page_obj.has_next %}
          <a href="?{{ querystring }}&page={{ page_obj.next_page_number }}">›</a>
          <a href="?{{ querystring }}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
      </div>
    {% endif %}
    <div class="documents-summary">
      <span class="documents-count">
        {{ page_obj.start_index }}–{{ page_obj.end_index }}
      </span>
      <span class="documents-label">
        de {{ page_obj.paginator.count }} documentos
      </span>
    </div>

</div>

<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Proveedor</th>
        <th>Total (€)</th>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th>Revisión</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>
      {% for doc in documents %}
      <tr>
        <!-- Nombre / enlace al archivo -->
        <td>
          <a href="{{ doc.file.url }}">
            {{ doc.original_name }}
          </a>
        </td>

        <!-- Proveedor -->
        <td>{{ doc.company.name|default:"-" }}</td>

        <!-- Total con formato decimal -->
        <td class="amount">
          {% if doc.total_amount %}
            {{ doc.total_amount|floatformat:2 }}
          {% else %}
            -
          {% endif %}
        </td>

        <!-- Fecha formateada -->
        <td class="issue_date">
          {% if doc.issue_date %}
            {{ doc.issue_date|date:"d/m/Y" }}
          {% else %}
            -
          {% endif %}
        </td>


        <!-- tipo de documento -->
        <td class="document_type">
          {{ doc.get_document_type_display }}
        </td>

        <!-- Estado (status) -->
        <td>
          <span class="status {{ doc.status }}">
            {{ doc.get_status_display }}
          </span>
          {% if doc.is_archived %}
            <span class="archived-badge">[Archivado]</span>
          {% endif%}
        </td>

        <!-- Nivel de revisión -->
        <td>
          <span class="review_level {{ doc.review_level }}">
            {{ doc.display_review_level }}
            {% if doc.confidence %}
              <span class="confidence">
                ({{ doc.confidence.confianza_extraccion|floatformat:2 }})
              </span>
            {% endif %}
          </span>
      </td>
        <!-- Acción -->
        <td>
          <a class="btn-action" href="{% url "documents:detail" doc.id %}">Ver</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No hay documentos</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
  <script>
      const toggleFiltersBtn = document.getElementById("filters-toggle");
      const filtersBar = document.querySelector(".filters-bar");

      const filtersStatus = localStorage.getItem("filtersStatus");
      if (filtersStatus === "open") {
        filtersBar.classList.add("open");
        toggleFiltersBtn.classList.add("open");
        toggleFiltersBtn.innerHTML = "Ocultar filtros <i class='fa-solid fa-caret-up'></i>";
      } else {
        filtersBar.classList.remove("open");
        toggleFiltersBtn.classList.remove("open");
        toggleFiltersBtn.innerHTML = "Mostrar filtros <i class='fa-solid fa-caret-down'></i>";
      }

      toggleFiltersBtn.addEventListener("click", () => {
        if (filtersBar.classList.contains("open")) {
          localStorage.setItem("filtersStatus", "closed");
        } else {
          localStorage.setItem("filtersStatus", "open");
        }
        toggleFiltersBtn.classList.toggle("open");
        filtersBar.classList.toggle("open");
        if (filtersBar.classList.contains("open")) {
          toggleFiltersBtn.innerHTML = "Ocultar filtros <i class='fa-solid fa-caret-up'></i>";
        } else {
          toggleFiltersBtn.innerHTML = "Mostrar filtros <i class='fa-solid fa-caret-down'></i>";
        }
      });
  </script>
{% endblock %}