{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Vista previa de Exportación - FacturIA{% endblock %}
{% block styles %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/documents/document_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/documents/export_preview.css' %}">
    {% endblock %}
{% block content %}
<h1 class="page-title">Previsualización de exportación</h1>
<h2 class="page-subtitle">Solo facturas aprobadas</h2>
<div class="export-summary">
    <h3>Resumen de exportación</h3>
    <div class="summary-grid">
        <div class="summary-item">
            <span class="label">Documentos</span>
            <span class="value" id="documents-count">{{ documents_count }}</span>
        </div>

        <div class="summary-item">
            <span class="label">Total base</span>
            <span class="value">
                {{ summary.base_total|spanish_currency }} €
            </span>
        </div>

        <div class="summary-item">
            <span class="label">Total IVA</span>
            <span class="value">
                {{ summary.tax_total|spanish_currency }} €
            </span>
        </div>

        <div class="summary-item">
            <span class="label">Total acumulado</span>
            <span class="value">
                {{ summary.grand_total|spanish_currency }} €
            </span>
        </div>

        <div class="summary-item">
            <span class="label">Rango de fechas</span>
            <span class="value">
                {{ summary.min_date }} – {{ summary.max_date }}
            </span>
        </div>

        <div class="summary-item">
            <span class="label">Proveedores</span>
            <span class="value">{{ providers_count }}</span>
        </div>

        <div class="summary-item">
            <span class="label">Confianza Media OCR</span>
            <span class="value">
                {{ summary.avg_confidence|to_percent}} %
            </span>
        </div>
    </div>
</div>
<form method="post" action="{% url 'documents:export' %}">
    {% csrf_token %}
    <div class="export-bar">
        <label for="format">Formato:<label>
        <select name="format">
          <option value="xlsx">Excel (XLSX)</option>
          <option value="csv">CSV</option>
        </select>
        <button type="submit" class="btn btn-primary">Confirmar exportación <i class="fa-solid fa-download"></i></button>
    </div>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>
                <input type="checkbox" id="select-all">
            </th>
            <th>N.º Documento</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Proveedor</th>
            <th>Total (€)</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
    
        <tbody>
          {% for doc in object_list %}
          <tr>
            <td>
                <input 
                type="checkbox"
                name="ids"
                value="{{ doc.id }}"
                class="row-checkbox"
                checked
                >
            </td>
            <td>{{ doc.document_number }}</td>
            <td>{{ doc.issue_date|date:"d/m/Y" }}</td>
            <!-- Nombre / enlace al archivo -->
            <td>
              <a href="{{ doc.file.url }}">
                {{ doc.original_name }}
              </a>
            </td>
    
            <!-- Proveedor -->
            <td>{{ doc.company.name|default:"-" }}</td>
    
            <!-- Total con formato decimal -->
            <td class="amount">
              {% if doc.total_amount %}
                {{ doc.total_amount|floatformat:2 }}
              {% else %}
                -
              {% endif %}
            </td>
    
            <!-- Estado (status) -->
            <td>
              <span class="status {{ doc.status }}">
                {{ doc.get_status_display }}
              </span>
            </td>
  
            <!-- Acción -->
            <td>
              <a class="btn-action" href="{% url "documents:detail" doc.id %}">Ver</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">No hay documentos</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</form>
{% endblock %}

{% block scripts %}
  {{ block.super }}
    <script>
        const selectAll = document.getElementById("select-all");
        const checkboxes = document.querySelectorAll(".row-checkbox");
        const summaryDocsCount = document.getElementById("documents-count");

        selectAll.checked = [...checkboxes].every(c => c.checked);

        selectAll.addEventListener("change", () => {
            checkboxes.forEach(cb => cb.checked = selectAll.checked);
            summaryDocsCount.textContent = [...checkboxes].filter(c => c.checked).length;
        });

        checkboxes.forEach(cb => {
            cb.addEventListener("change", () => {
            selectAll.checked = [...checkboxes].every(c => c.checked);
            summaryDocsCount.textContent = [...checkboxes].filter(c => c.checked).length;
            });
        });
    </script>
{% endblock %}